<h2><%= @genre.name.titlecase %></h2>

<% @movies.each do |movie| %>
  <div class="card text-xs-center">
    <div class="card-block">
      <p class="card-title"><%= link_to movie.title, movie_path(movie) %></p>
      <%= image_tag "film.png" %>
    </div>
  </div>
  <% end %>

<%= link_to "Back to genres", genres_path %>
