
<form id='moviesearch' method='post' action='/api'>
  <label>Movie Title</label>
  <input id='movietitle' type='text' name='movie' value='movie' placeholder='title' >
  <input name="search" type="submit" />
</form>

