<!-- <h1>Search a movie</h1> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>TheMovieDB</title>
    <meta content="authenticity_token" name="csrf-param" />
    <meta content="Txqnb9v7e2xhBkvRUCKAGAxL9onJe52ccOrbXYq4+QU=" name="csrf-token" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/bootstrap-responsive.css" rel="stylesheet">
</head>
<body>
  
<div class="container">

    <center>
      <!-- <div>
        <h1>Search for a movie</h1>
          <form accept-charset="UTF-8" action="http://api.themoviedb.org/3/search/movie?" method="get">   <div style="margin:0;padding:0;display:inline">
              <input name="utf8" type="hidden" value="&#x2713;" />
            </div>
            <input class="input-xlarge searchInput" id="query" name="query" type="text" />
          </form> 
      </div> -->
   <h1>Movie Search</h1>
    <section id="fetch">
      <input type="text" placeholder="Enter a movie title" id="term" />
      <button id="search">Search</button>
   </section>
   
   <section id="poster"></section>
    </center>

    <h2>Now Playing In Theaters</h2>

        <img alt="Tgfrdjs5pfw20aoh1orezuxw8cn" src="http://image.tmdb.org/t/p/w154/tgfRDJs5PFW20Aoh1orEzuxW8cN.jpg" />
      <img alt="Lw0iqosmsqcy1qnvieidpplmnwk" src="http://image.tmdb.org/t/p/w154/lw0IqOSMsQcy1QnVIEIDppLmNwk.jpg" />
      <img alt="43gr00iiztq2dotyzqvotwmf3ki" src="http://image.tmdb.org/t/p/w154/43Gr00IiZtq2dOtYZQVOTwMf3kI.jpg" />
      <img alt="A4qrfp2fvwqasbuudkcwjdgcttm" src="http://image.tmdb.org/t/p/w154/a4qrfP2fVWqasbUUdKCwjDGCTTM.jpg" />
      <img alt="Z6bp8ylwck8mn9dtdykkz4xga3d" src="http://image.tmdb.org/t/p/w154/z6BP8yLwck8mN9dtdYKkZ4XGa3D.jpg" />
      <img alt="Kqmgs9q5wzkxkub60k6pu37gdvu" src="http://image.tmdb.org/t/p/w154/kqmGs9q5WZkxKub60K6pU37GdvU.jpg" />
      <img alt="Srxazaaodkawvpjighrasls2zco" src="http://image.tmdb.org/t/p/w154/sRxazAAodkAWVPJighRAsls2zCo.jpg" />
      <img alt="Wjxku1yhmkeuzynehux7xtaypse" src="http://image.tmdb.org/t/p/w154/wJXku1YhMKeuzYNEHux7XtaYPsE.jpg" />
      <img alt="Uv7syi4vryjvwob8qexbqnbucu5" src="http://image.tmdb.org/t/p/w154/uv7syi4vRyjvWoB8qExbqnbuCu5.jpg" />
      <img alt="Uwnbo4e1vkwy8nq3kwz4sve19qt" src="http://image.tmdb.org/t/p/w154/uWnBO4E1vkWy8nQ3KwZ4SVE19Qt.jpg" />
      <img alt="Lgyadjzr9oracjptrpysouusjdg" src="http://image.tmdb.org/t/p/w154/lGYadjzr9ORAcJPTrpYsoUusjdg.jpg" />
      <img alt="E5vq0hztquculn2fk80qd2gskfc" src="http://image.tmdb.org/t/p/w154/e5vQ0HztqucuLn2FK80QD2GSkfc.jpg" />

</div>

</body>
</html>
